name: CI/CD Pipeline for Telco Churn

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    # Install library manual
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow dagshub pandas scikit-learn matplotlib seaborn virtualenv

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Train Model (Direct Python)
      # Token DagsHub WAJIB ada di sini
      env:
        DAGSHUB_USER_TOKEN: "ce3238b3a7c35717e39d5ea8b431f6ddebfc92c6"
      run: |
        cd MLProject
        python modelling.py

    - name: Build Docker Image
      run: |
        cd MLProject
        mlflow models build-docker -m model_rf_local -n ${{ secrets.DOCKER_USERNAME }}/telco-churn-model:latest --enable-mlserver

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/telco-churn-model:latest