name: CI/CD Pipeline for Telco Churn

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # 1. Ambil Kodingan
    - name: Checkout code
      uses: actions/checkout@v3

    # 2. Siapkan Python
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    # 3. Install Library
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Kita install library dasar dulu
        pip install mlflow==2.18.0 dagshub pandas scikit-learn matplotlib seaborn virtualenv

    # 4. Login ke Docker Hub
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 5. Training Model
    - name: Train Model (MLflow Run)
      env:
        DAGSHUB_USER_TOKEN: "ce3238b3a7c35717e39d5ea8b431f6ddebfc92c6"
      run: |
        cd MLProject
        mlflow run . --no-conda --env-manager=local

    # 6. Build Docker Image (Advance)
    - name: Build Docker Image
      run: |
        cd MLProject
        # Autolog menyimpan di ./mlruns/0/<run_id>/artifacts/model
        LATEST_RUN=$(ls -td mlruns/0/* | head -1)
        echo "Menggunakan model dari: $LATEST_RUN"
        
        # Build docker dari folder model hasil autolog
        mlflow models build-docker -m "${LATEST_RUN}/artifacts/model" -n ${{ secrets.DOCKER_USERNAME }}/telco-churn-model:latest --enable-mlserver

    # 7. Push Image ke Docker Hub
    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/telco-churn-model:latest