name: CI/CD Pipeline for Telco Churn

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # 1. Ambil Kodingan
    - name: Checkout code
      uses: actions/checkout@v3

    # 2. Siapkan Python
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    # 3. Install Library
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow dagshub pandas scikit-learn matplotlib seaborn
        pip install virtualenv

    # 4. Login ke Docker Hub
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 5. Jalankan Training (MLflow Project)
    - name: Train Model
      run: |
        cd MLProject
        # Jalankan project
        mlflow run . --no-conda

    # 6. Build Docker Image dari Model Hasil Training
    - name: Build Docker Image
      run: |
        cd MLProject
        # Nama image: username/nama-image:tag
        mlflow models build-docker -m model_rf_local -n ${{ secrets.DOCKER_USERNAME }}/telco-churn-model:latest

    # 7. Push Image ke Docker Hub
    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/telco-churn-model:latest